include Makefile CHANGES LICENSE MANIFEST MANIFEST.in README.md pyproject.toml
recursive-include src/c_extension *.c *.h
recursive-include llistplus *.py *.pyi *.so
recursive-include docs *.py *.rst
include docs/Makefile docs/make.bat
graft docs/_static
graft docs/_templates
recursive-include examples *.py
recursive-include tests *test*.py py23_utils.py
